<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">


<body>
<div layout:fragment="content">

<!--    <div class="row">-->
<!--        <div class="col-lg-6">-->
<!--            <section class="panel">-->
<!--                <header class="panel-heading">-->
<!--                    Color Pickers & Date Pickers-->
<!--                </header>-->
<!--                <div class="panel-body">-->
<!--                    <form class="form-horizontal " action="#">-->
<!--                        &lt;!&ndash;date picker start&ndash;&gt;-->

<!--                        <div class="form-group">-->
<!--                            <label class="control-label col-sm-4">Default Datepicker</label>-->
<!--                            <div class="col-sm-6">-->
<!--                                <input id="dp1" type="text" value="28-10-2013" size="16" class="form-control">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="form-group">-->
<!--                            <label class="control-label col-sm-4">Starts with years view</label>-->
<!--                            <div class="col-sm-6">-->


<!--                                <div class="input-append date" id="dpYears" data-date="18-06-2013" data-date-format="dd-mm-yyyy" data-date-viewmode="years">-->
<!--                                    <input class="form-control" size="16" type="text" value="28-06-2013" readonly>-->
<!--                                    <span class="add-on"><i class="icon-calendar"></i></span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="form-group">-->
<!--                            <label class="control-label col-sm-4"> Date Ranges</label>-->
<!--                            <div class="col-sm-6">-->
<!--                                <div class="input-prepend">-->
<!--                                    <input id="reservation" type="text" class=" form-control" />-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash;date picker end&ndash;&gt;-->

<!--                        &lt;!&ndash;color picker start&ndash;&gt;-->
<!--                        <div class="form-group">-->
<!--                            <label class="control-label col-sm-4">Default</label>-->

<!--                            <div class="col-sm-5">-->
<!--                                <input type="text" value="#CCCCCC" class="cp1 form-control">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="form-group">-->
<!--                            <label class="control-label col-sm-4">RGBA</label>-->

<!--                            <div class="col-sm-5">-->
<!--                                <input type="text" data-color-format="rgba" value="rgb(255,255,255,1)" class="cp2 form-control">-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        &lt;!&ndash;color picker end&ndash;&gt;-->

<!--                    </form>-->


<!--                </div>-->
<!--            </section>-->
<!--            <section class="panel">-->
<!--                <header class="panel-heading">-->
<!--                    Tags Input-->
<!--                </header>-->
<!--                <div class="panel-body">-->
<!--                    <input name="tagsinput" id="tagsinput" class="tagsinput" value="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal" />-->
<!--                </div>-->
<!--            </section>-->
<!--        </div>-->
<!--    </div>-->

    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa fa-bars"></i> Parameters</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/index">Home</a></li>
                    <li><i class="fa fa-bars"></i><a href="/parameters">Parameters</a></li>
                    <li><i class="fa fa-square-o"></i>Parameters</li>
                </ol>
            </div>
        </div>
        <div class="container" style="width: 70%">
            <div class="row justify-content-center" >
                <div class="col-lg-12">
                    <form id="form" class="form-horizontal" th:action="@{/countries}" method="post">
                        <section class="panel">
                            <header class="panel-heading">
                                Add New Country Record
                            </header>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Description</label>
                                    <div class="col-sm-6">
                                        <input name="description" type="text" size="16" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Capital</label>
                                    <div class="col-sm-6">
                                        <input name="capital" class="form-control" size="16" type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Code</label>

                                    <div class="col-sm-5">
                                        <input name="code" type="text"  class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4"> Nationality</label>
                                    <div class="col-sm-6">
                                        <input name="nationality" type="text" class=" form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Continent</label>

                                    <div class="col-sm-5">
                                        <input name="continent" type="text" class="form-control">
                                    </div>
                                </div>


                            </div>
                        </section>
                        <section class="panel">

                            <div class="panel-body">
                                <button type="submit" class="btn btn-primary">
                                    Save
                                </button>
                                <a href="/countries" class="btn  btn-warning">
                                    Exit
                                </a>
                            </div>
                        </section>
                    </form>

                </div>
            </div>
        </div>
    </section>
</div>
<th:block layout:fragment="script">
    <script language="JavaScript">
        $('document').ready(function () { // Line 1

            $('#cform').on('submit',function () { // Line 2
                console.log("Form was successfully submitted!");
            })

        })
    </script>
</th:block>

<div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
    <div class="toast" data-delay="5000" style="position: absolute; top: 0; right: 0;">
        <div class="toast-header">
            <strong class="mr-auto">Thank you</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Success
        </div>
    </div>
</div>
</body>
</html>
