<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<body>
<div layout:fragment="content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="fa fa fa-bars"></i>FLEET Home</h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a href="/index">Fleet Home</a></li>
                    </ol>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <section class="panel">
                        <div class="panel-body">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title"><h3><b>Models</b></h3></h5>
                                    <a href="/models" class="btn btn-primary">Manage Models</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-lg-4">
                    <section class="panel">
                        <div class="panel-body">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title"><h3><b>Makes</b></h3></h5>
                                    <a href="/makes" class="btn btn-primary">Manage Makes</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-lg-4">
                    <section class="panel">
                        <div class="panel-body">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title"><h3><b>Status</b></h3></h5>
                                    <a href="/status" class="btn btn-primary">Manage Status</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <section class="panel">
                        <div class="panel-body">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title"><h3><b>Types</b></h3></h5>
                                    <a href="/tyypes" class="btn btn-primary">Manage Types</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-lg-4">
                    <section class="panel">
                        <div class="panel-body">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title"><h3><b>Maintenance</b></h3></h5>
                                    <a href="/maintenance" class="btn btn-primary">Manage Maintenance</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-lg-4">
                    <section class="panel">
                        <div class="panel-body">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title"><h3><b>Movements</b></h3></h5>
                                    <a href="/movements" class="btn btn-primary">Manage movements</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <section class="panel">
                        <div class="panel-body">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title"><h3><b>Hires</b></h3></h5>
                                    <a href="/hires" class="btn btn-primary">Manage Hires</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>


    </div>
</body>
</html>